.content_block {
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100vw;
  height: 100vh;

  font-family: "Atkinson Hyperlegible";

  background-color: black;

}

.headline_container {
  display: flex;
  padding-left: 15rem;
}

.headline_image {
  padding-top: 10rem;
  padding-left: 9rem;
}

.headline {
  padding-top: 15rem;
  color: white;
  padding-left: 5rem;
  
  margin: 0px;

  display: flex;
  flex-direction: column;
}

.gradient {
    background: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block
}

.headline_main {

  font-size: 15rem;
  margin: 0rem;

}

.headline_sub {
  color: white;
  font-size: 25px;
  padding-left: 1rem;
}

.button {

  flex: 1 1 auto;

  margin: 1rem;
  padding: 1.5rem;
  text-align: center;

  background-color: black;
  color: white;

  border-width: 1px;
  border-radius: 10px;
  border: 1px solid #eaeaea;


  transition: color 0.15s ease, border-color 0.15s ease

}

.button:hover,
.button:active,
.button:focus {

  color: black;
  background-color: white;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;

}

